In [2]:
import numpy as np
import pandas as pd
import sys
sys.path.append("./../../..")

In [3]:
a_values = range(1,7)
b_values = np.random.rand(6)
c_values = ["apple", "banana", "strawberry", "peach", "orange", "パイン"]
my_dict = {"A": a_values, "B": b_values, "C":c_values}
my_df = pd.DataFrame.from_dict(my_dict)

In [4]:
my_df

   A         B           C
0  1  0.860411       apple
1  2  0.529772      banana
2  3  0.531253  strawberry
3  4  0.862075       peach
4  5  0.019590      orange
5  6  0.057482         パイン

In [5]:
from bks_pypack.df_preprocess import preprocess_for_plotly
my_df.applymap(preprocess_for_plotly.get_east_asian_width_count)

   A   B   C
0  1  18   5
1  1  18   6
2  1  18  10
3  1  18   5
4  1  19   6
5  1  20   6

In [6]:
tmplist = my_df["C"].to_list()
tmplist

['apple', 'banana', 'strawberry', 'peach', 'orange', 'パイン']

In [7]:
list(map(preprocess_for_plotly.get_east_asian_width_count, tmplist))

[5, 6, 10, 5, 6, 6]

In [8]:
preprocess_for_plotly.get_columnwidth(my_df)

[1, 20, 10]